@model GaidoSystem.Models.Proyecciones

@{
    ViewData["Title"] = "Create";
    ModeloProyeccion data = ViewBag.ModeloAuto;
    HistorialER ER = ViewBag.lastER;
    List<Proyecciones> cantidad = ViewBag.procount;
    Proyecciones pro = ViewBag.lastPro;
}

    <script>
        function cal(int, por, concepto) {
            var num = 0.00;
            num = parseInt(document.getElementById(int).innerHTML);
            var porcentaje = 0.00
            porcentaje = parseInt(document.getElementById(por).innerHTML);
            var total = 0.00;
            total = num * porcentaje;
            document.getElementById(concepto).value = total;
        };

        function add() {
            cal('intVN', 'proVN', 'VentasNetas');

            cal('intCV', 'proCV', 'CostosVentas');

            cal('intGA', 'proGA', 'GastosAdmin');

            cal('intGV', 'proGV', 'GastosVentas');

            cal('intGO', 'proGO', 'GastosOperativos');

            cal('intOG', 'proOG', 'otrosGastos');

            cal('intU', 'proU', 'Utilidad');

            cal('intIR', 'proIR', 'IR');

            cal('intUN', 'proUN', 'UtilidadNeta');
        };

        function usar() {
            document.getElementById('intFecha').innerHTML = document.getElementById('proFecha').innerHTML;
            document.getElementById('intVN').innerHTML = document.getElementById('ProCostosVentas').innerHTML;
            document.getElementById('intCV').innerHTML = document.getElementById('ProCostosVentas').innerHTML;
            document.getElementById('intGA').innerHTML = document.getElementById('ProGastosAdmin').innerHTML;
            document.getElementById('intGV').innerHTML = document.getElementById('ProGastosVentas').innerHTML;
            document.getElementById('intGO').innerHTML = document.getElementById('ProGastosOperativos').innerHTML;
            document.getElementById('intU').innerHTML = document.getElementById('proUtilidad').innerHTML;
            document.getElementById('intIR').innerHTML = document.getElementById('proIR').innerHTML;
            document.getElementById('intUN').innerHTML = document.getElementById('proUtilidadNeta').innerHTML;
        }
    </script>

<div class="row">
    <div class="col">
        <table class="table-secondary table-striped">
    <tr>
        <th scope="col" colspan="2" class="bg-warning">
            Proyeccion Autogenerada
        </th>
        <td rowspan="20" class="bg-danger mh-100"><button class="btn btn-warning" style="padding-top:1500%;padding-bottom:1500%;" onclick="add()">&gt;</button></td>
    </tr>
    <tr>
        <td colspan="2" id="intFecha">@ER.Fecha.Year</td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">Ventas Netas </td>
    </tr>
    <tr>
        <td id="intVN">@ER.VentasNetas</td>
        <td class="bg-danger"  id="proVN">@data.ModVentasNetas<label> %</label></td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">Costo de Ventas</td>
    </tr>
    <tr>
        <td id="intCV">@ER.CostosVentas</td>
        <td class="bg-danger"  id="proCV">@data.ModCostosVentas<label> %</label></td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">Gastos Administrativos</td>
    </tr>
    <tr>
        <td id="intGA">@ER.GastosAdmin</td>
        <td class="bg-danger" id="proGA">@data.ModGastosAdmin</td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">Gastos Ventas</td>
    </tr>
    <tr>
        <td id="intGV">@ER.GastosVentas</td>
        <td class="bg-danger"  id="proGV">@data.ModGastosVentas<label> %</label></td>
    </tr>
    <tr>
        <td colspan="2">Gastos Operacion</td>
    </tr>
    <tr>
        <td id="intGO">@ER.GastosOperativos</td>
        <td class="bg-danger" id="proGO">@data.ModGastosOperativos<label> %</label></td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">Otros Gastos</td>
    </tr>
    <tr>
        <td id="intOG">@ER.OtrosGastos</td>
        <td id="proOG" class="bg-danger">@data.ModOtrosGastos<label> %</label></td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">Utilidad</td>
    </tr>
    <tr>
        <td id="intU">@ER.Utilidad</td>
        <td id="proU" class="bg-danger">@data.ModUtilidad<label> %</label></td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">IR</td>
    </tr>
    <tr>
        <td id="intIR">@ER.IR</td>
        <td id="proIR" class="bg-danger">@data.ModIR<label> %</label></td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">Utilidad Neta</td>
    </tr>
    <tr>
        <td id="intUN">@ER.UtilidadNeta</td>
        <td id="proUN" class="bg-danger">@data.ModUtilidadNeta<label> %</label></td>
    </tr>

</table>

    </div>
    <div class="col-8">
        <form asp-action="Create" class="table table-warning">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" type="month" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProVentasNetas" class="control-label"></label>
                <input asp-for="ProVentasNetas" class="form-control" id="VentasNetas" />
                <span asp-validation-for="ProVentasNetas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProCostosVentas" class="control-label"></label>
                <input asp-for="ProCostosVentas" class="form-control" id="CostosVentas" />
                <span asp-validation-for="ProCostosVentas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProGastosAdmin" class="control-label"></label>
                <input asp-for="ProGastosAdmin" class="form-control" id="GastosAdmin" />
                <span asp-validation-for="ProGastosAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProGastosVentas" class="control-label"></label>
                <input asp-for="ProGastosVentas" class="form-control" id="GastosVentas" />
                <span asp-validation-for="ProGastosVentas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProGastosOperativos" class="control-label"></label>
                <input asp-for="ProGastosOperativos" class="form-control" id="GastosOperativos" />
                <span asp-validation-for="ProGastosOperativos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProOtrosGastos" class="control-label"></label>
                <input asp-for="ProOtrosGastos" class="form-control" id="otrosGastos" />
                <span asp-validation-for="ProOtrosGastos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="proUtilidad" class="control-label"></label>
                <input asp-for="proUtilidad" class="form-control" id="Utilidad" />
                <span asp-validation-for="proUtilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="proIR" class="control-label"></label>
                <input asp-for="proIR" class="form-control" id="IR" />
                <span asp-validation-for="proIR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="proUtilidadNeta" class="control-label"></label>
                <input asp-for="proUtilidadNeta" class="form-control" id="UtilidadNeta" />
                <span asp-validation-for="proUtilidadNeta" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="ModeloProyeccionId" class="control-label"></label>
                <select asp-for="ModeloProyeccionId" class="form-control">
                    <option selected>2</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <table class="table table-warning">
        <thead>
            <tr>
                <th colspan="9" class="text-center">Ultima Proyeccion</th>
            </tr>
            <tr>
                <td>Fecha</td>
                <th>Ventas Netas</th>
                <th>Costo de Ventas</th>
                <th>Gastos Administrativos</th>
                <th>Gastos de Ventas</th>
                <th>Gastos Operacion</th>
                <th>OTros Gastos</th>
                <th>Utilidad</th>
                <th>IR</th>
                <th>Utilidad Neta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (cantidad.Count() > 0)
            {
                <tr>
                    <td id="proFecha">@pro.Fecha</td>
                    <td id="ProVentasNetas">@pro.ProVentasNetas</td>
                    <td id="ProCostosVentas">@pro.ProCostosVentas</td>
                    <td id="ProGastosAdmin">@pro.ProGastosAdmin</td>
                    <td id="ProGastosVentas">@pro.ProGastosVentas</td>
                    <td id="ProGastosOperativos">@pro.ProGastosOperativos</td>
                    <td id="ProOtrosGastos">@pro.ProOtrosGastos</td>
                    <td id="proUtilidad">@pro.proUtilidad</td>
                    <td id="proIR">@pro.proIR</td>
                    <td id="proUtilidadNeta">@pro.proUtilidadNeta</td>
                    <td><button class="btn btn-primary" onclick="usar()">Usar</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>


